@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,800&display=swap');


* {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins';
    outline: none;
}




body {
    background: #000104
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

.landPage {
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.logo {
    position: absolute;
    left: 5%;
    margin-top: 25px;
    width: 150px;
}

.nav {
    height: 80px;
    transition: .3s;
    position: relative;
    z-index: 10000000000000;
}

.menu li {
    font-size: 15px;
    padding: 0 15;
    line-height: 80px;
    height: 100%;
    transition: .2s;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    margin-top: -3px;
    scroll-behavior: smooth;
}

.menu a li:hover {
    color: #d576f1;
    transition: .2s;
}

.menu {
    display: flex;
    float: right;
    position: relative;
    right: 5%;
}

header .fas {
    display: none;
}




@media(max-width:750px) {
    .menu {
        flex-direction: column;
        background: rgb(0, 0, 0);
        height: 100vh;
        width: 60%;
        right: -60%;
        position: fixed;
        transition: .3s;
        text-align: center;

    }

    header .fas {
        display: block;
        font-size: 30;
    }

    header .fa-bars {
        position: absolute;
        right: 5%;
        line-height: 80px;
        margin-top: 10px;
        width: 35px;
        height: 35px;
    }

    header .fa-times {
        position: absolute;
        left: 5%;
        top: 2.5%;
        width: 35px;
        height: 35px;
    }

    .menu a {
        font-size: 20px;
        position: relative;
        top: 100;
    }

    .menu li {
        height: 70px;
        font-size: 25px;
        margin-top: 30;
        font-weight: bold;
    }

    .menu-show {
        right: 0;
        transition: .3s;
        z-index: 1000000;
        box-shadow: 0px 0px 10px rgb(46, 39, 41);
    }
}

.linear {
    left: -700;
    width: 500;
    height: 500;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0.68;
    filter: blur(375px);
}

.linear1 {
    right: -700;
    top: 1000;
    width: 500;
    height: 500;
    position: fixed;
    background: rgb(255, 135, 225);
    opacity: 0.68;
    filter: blur(375px);
}

.linear2 {
    right: -700;
    top: -500;
    width: 500;
    height: 500;
    position: fixed;
    background: rgb(255, 135, 225);
    opacity: 0.68;
    filter: blur(375px);
}

.heroPage {
    width: 100vw;
    height: 100%;
    position: relative;
    z-index: 2;
}

.heroPage img {
    width: 1500px;
    height: 730px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 100px;
    user-select: none;
}

.hero-text {
    position: absolute;
    left: 50%;
    top: 24%;
    transform: translate(-50%);
    text-align: center;
    width: 100%;
    z-index: 1000000000000000;
}

.hero-text h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
}

.hero-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-top: -10;
}

.hero-text button {
    background: linear-gradient(153.47deg, rgba(105, 105, 105, 0.37) -341.94%, rgba(26, 26, 26, 0.53) 95.11%);
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
    border-radius: 10px;
    width: 179px;
    height: 56px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    z-index: 9999999999999999999;
}

@media(max-width:1170px) {
    .heroPage img {
        width: 1200px;
        height: 580px;
    }

    .hero-text {
        top: 17%;
    }

    .hero-text h1 {
        font-size: 70px;
    }

    .hero-text p {
        font-size: 15px;
    }
}

@media(max-width:800px) {
    .heroPage img {
        width: 900px;
        height: 440px;
    }

    .hero-text {
        width: 530px;
    }

    .hero-text h1 {
        line-height: 70px;
    }

    .hero-text p {
        margin-top: 20px;
    }

}

@media(max-width:750px) {
    .heroPage img {
        display: none;
    }

    .landPage {
        background-image: url("images/heroBG.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-text {
        top: 20%;
        transform: translate();

    }

    .hero-text button {
        border: 1px solid #C32BAC;
    }
}

@media(max-width:600px) {

    .hero-text {
        width: 400px;
    }

    .hero-text h1 {
        font-size: 60px;
        line-height: 60px;
        width: 350px;
        margin: auto;
    }

    .hero-text p {
        width: 250;
        margin: auto;
        margin-top: 15px;
    }
}


.programs {
    width: 1140px;
    height: 1100px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.program-layout-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    background: linear-gradient(135deg, #FF96F9 0%, #C32BAC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
    top: 50px;
    margin-left: 20px;
    scroll-behavior: smooth;
}

.program-layout {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: safe left;
    align-items: flex-start;
    left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
}

.program {
    width: 300px;
    height: 400px;
    background: linear-gradient(153.47deg, rgba(255, 255, 255, 0.62) -341.94%, rgba(22, 22, 22, 0.2) 95.11%);
    border-radius: 20px;
    margin: 20;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 20px 0px 20px;
}

.program-title h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    background: linear-gradient(135deg, #FF96F9 0%, #C32BAC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
}

.program-title p {
    font-weight: 300;
}

.programs hr {
    height: 0.5px;
    width: 50%;
    background: white;
    border: none;
    margin-top: 15px;
}

.program-description p {
    font-weight: 200;
    font-size: 15px
}

.program-price h1 {
    background: linear-gradient(135deg, #FF96F9 0%, #C32BAC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@media(max-width:1170px) {
    .programs {
        width: 780px;
    }

    .program {
        width: 200px;
        height: 350px;
        margin: 10;
        margin-top: 20px;
    }

    .program-title h1 {
        font-weight: 600;
        font-size: 24px;

    }

    .program-title p {
        font-weight: 300;
        font-size: 13;
    }
}

@media(max-width:800px) {
    .programs {
        width: 520px;
    }
}

@media(max-width:550px) {
    .programs {
        width: 300px;
    }

    .program {
        width: 300px;
    }
}

.outcome {
    position: relative;
    width: 1140px;
    height: min-content;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.outcome img {
    width: 570px;
    height: 304px;
    margin-top: 50;
}


.outcome-text {}

.outcome-text h1 {
    background: linear-gradient(135deg, #FF96F9 0%, #C32BAC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.outcome-dashes {
    margin-top: 50px;

}

@media(max-width:1170px) {
    .outcome {
        top: -200px;
        width: 1000px;
    }

    .outcome img {
        transform: scale(0.8);
    }
}

@media(max-width:950px) {
    .outcome img {
        margin-top: 20;
    }

    .outcome {
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 60px;
    }

    .outcome-text {
        text-align: center;
    }

    .outcome-dashes {
        margin-top: 20px;
    }
}

@media(max-width:800px) {
    .outcome {
        top: 200;
    }
}

@media(max-width:550px) {
    .outcome {
        margin: auto;
        margin-top: 850;
    }

    .outcome h1 {
        width: 70%;
        text-align: left;
    }

    .outcome-dashes {
        text-align: left;
    }

    .outcome img {
        display: none;
    }

    .outcome-text {
        position: relative;
        left: 10%;

    }
}